extends ./layout.jade
block title
  title home
block link
  link(href="/src/css/admin/index.css" rel="stylesheet")
block con
  div.contaner#container
    p.title yuguo-test
    div.block-box 
      ul 
        li
          img(src="/src/images/admin/logo.jpg")
          p 测试1
        li
          img(src="/src/images/admin/logo.jpg")
          p 测试2
        li
          img(src="/src/images/admin/logo.jpg")
          p 测试3测试3测试3测试3测试3
        li
          img(src="/src/images/admin/logo.jpg")
          p 测试4
        li.add-new  +
  div.add-modal
    div.add-box
      span.close-btn.fa.fa-close
      input.title(type="text")
      div
        input(type="file")
      textarea()
block script
  script(src="/src/js/controller/admin/index.js")
