doctype html
html
  head
    meta(charset="utf-8")
    block title
    meta(name="description" content="A simple fast stable and powerfull avatar service" )
    meta(name="keywords" content="Svpa,avatar,letter avatar" )
    link(rel="icon" type="image/x-icon" href="/src/images/common/favicon.ico")
    link(href="/src/css/admin/common.css" rel="stylesheet")
    link(href="/src/css/common/font-awesome.css" rel="stylesheet")
    block link
  body#bgWraper
    header#header
      div.header.clear
    block con
    script(src="/src/lib/jquery.min.js")
    script(src="/src/lib/vue.js")
    block script
