extends ./layout.jade
block title
  title home
block link
  link(href="/src/css/admin/list.css" rel="stylesheet")
block con
  div.contaner#container
    div.left-menu
      span.add-subtitle
        i.fa.fa-plus
      ul.one-item
        li 
          a(href="javascript:;" v-on:click="subMenu($event)") 1菜单
          ul.two-item
            li 
              a(href="javascript:;") 1.1菜单
            li 
              a(href="javascript:;") 1.2菜单
            li 
              a(href="javascript:;") 1.3菜单
        li
          a(href="javascript:;" v-on:click="subMenu($event)") 2菜单
          ul.two-item.hidden
            li 
              a(href="javascript:;") 2.1菜单
            li 
              a(href="javascript:;") 2.2菜单
        li 
          a(href="javascript:;" v-on:click="subMenu($event)") 3菜单
          ul.two-item.hidden
            li 
              a(href="javascript:;") 3.1菜单
            li 
              a(href="javascript:;") 3.2菜单
    div.right-box
      div.content
        div.list-item(v-for="item in itemdata")
          a(href="javascript:;")
            div.item-img
              img(src="{{ item.logo_url }}")
            div.item-info
              p.item-name(v-cloak) {{ item.name }}
                span.item-time(v-cloak) {{ item.time }}
              p.item-intro(v-cloak) {{ item.intro }}
              p.item-version(v-cloak) 最新版本号：{{ item.version }}
block script
  script(src="/src/js/controller/admin/list.js")
