html,body {
  padding: 0;
  margin: 0;
  font-family: 'Hiragino Sans GB', Helvetica, Arial, 'STHeiti', 'WenQuanYi Micro Hei', 'sans-serif';
}
.clear:before,.clear:after {
  content: '';
  clear: both;
  height: 0;
  overflow: hidden;
}
[v-cloak] { display: none; }
.header {
  position: relative;
  width: 1024px;
  height: 60px;
  margin: 0 auto; 
  background: #fff;
}
.logo-box {
  position: relative;
  padding: 8px 10px;
  width: 160px;
  float: left;
}
.logo-box img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.logo-box span {
  position: absolute;
  top: 8px;
  left: 60px;
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.header-list,
.header-list li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
.header-list {
  height: 60px;
  float: left;
}
.header-list li {
  position: relative;
  top: 10px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin: 0 3px;
  text-align: center;
  float: left;
}
.header-list li.active,
.header-list li:hover {
  border-bottom: 3px solid #f00;
}
.header-list li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #777;
}
.login-box,
.login-box li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.login-box {
  height: 60px;
}
.login-box li {
  position: relative;
  top: 10px;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.login-box li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 14px;
  color: #58d0a6;
}
.contaner {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  background: #fff;
}
#particles {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
