.contaner {
  position: relative;
  width: 1024px;
  min-height: 500px;
  margin: 0 auto;
  background: #fff;
  margin-top: 100px;
}
.right-container {
  padding: 40px;
}
.input-box,
.input-logo {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.input-box label,
.text-input label,
.input-logo label {
  position: absolute;
  left: 0;
  top: 0;
}
.input-box input {
  position: absolute;
  left: 90px;
  top: 5px;
  width: 400px;
  height: 36px;
  line-height: 36px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 5px;
}
.text-input {
  position: relative;
}
.text-input textarea{
  position: absolute;
  left: 90px;
  top: 5px;
  width: 400px;
  min-height: 80px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
} 
.input-logo {
  height: 80px;
}
.upload-img,
.img-box{
  position: absolute;
  top: 5px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.upload-img {
  left: 90px;
  text-align: center;
  border: 1px dotted #ccc;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.img-box {
  left: 170px;
  border: 1px dotted #ccc;
}
.img-box img {
  width: 60px;
  height: 60px;
}
